[submodule "_vim/bundle/pathogen"]
	path = _vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/molokai"]
	path = _vim/bundle/molokai
	url = git://github.com/mrtazz/molokai.vim.git
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = git://github.com/wycats/nerdtree.git
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/zencoding"]
	path = _vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "_vim/bundle/repeat"]
	path = _vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = git://github.com/vim-scripts/ack.vim.git
[submodule "_vim/bundle/javascript"]
	path = _vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "_vim/bundle/zoomwin"]
	path = _vim/bundle/zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "_vim/bundle/solarized"]
	path = _vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "supertab"]
	path = supertab
	url = git://github.com/ervandew/supertab.git
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "_vim/bundle/unimpaired"]
	path = _vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
