[submodule "_vim/bundle/pathogen"]
	path = _vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "_vim/bundle/molokai"]
	path = _vim/bundle/molokai
	url = git://github.com/mrtazz/molokai.vim.git
	ignore = untracked
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "_vim/bundle/repeat"]
	path = _vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
	ignore = untracked
[submodule "_vim/bundle/javascript"]
	path = _vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
	ignore = untracked
[submodule "_vim/bundle/solarized"]
	path = _vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
	ignore = untracked
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
	ignore = untracked
[submodule "_oh-my-zsh"]
	path = _oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
	ignore = untracked
[submodule "_vim/bundle/L9"]
	path = _vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
	ignore = untracked
[submodule "_vim/bundle/mucomment.vim"]
	path = _vim/bundle/mucomment.vim
	url = git://github.com/tonyskn/mucomment.vim.git
	ignore = untracked
[submodule "_vim/bundle/coffeescript"]
	path = _vim/bundle/coffeescript
	url = git://github.com/kchmck/vim-coffee-script.git
	ignore = untracked
[submodule "_vim/bundle/clam"]
	path = _vim/bundle/clam
	url = https://github.com/sjl/clam.vim
	ignore = untracked
[submodule "_vim/bundle/vimux"]
	path = _vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
	ignore = untracked
[submodule "_vim/bundle/markdown"]
	path = _vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "_vim/bundle/matchit"]
	path = _vim/bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "_vim/bundle/less"]
	path = _vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "_vim/bundle/easygrep"]
	path = _vim/bundle/easygrep
	url = https://github.com/vim-scripts/EasyGrep.git
	ignore = untracked
[submodule "_vim/bundle/ctrlp"]
	path = _vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
	ignore = untracked
[submodule "_vim/bundle/varnish"]
	path = _vim/bundle/varnish
	url = https://github.com/empanda/vim-varnish.git
	ignore = untracked
[submodule "_vim/bundle/node"]
	path = _vim/bundle/node
	url = https://github.com/moll/vim-node.git
	ignore = untracked
[submodule "_vim/bundle/fireplace"]
	path = _vim/bundle/fireplace
	url = https://github.com/tpope/vim-fireplace.git
	ignore = untracked
[submodule "_vim/bundle/easy-motion"]
	path = _vim/bundle/easy-motion
	url = https://github.com/Lokaltog/vim-easymotion.git
	ignore = untracked
[submodule "_vim/bundle/json"]
	path = _vim/bundle/json
	url = https://github.com/elzr/vim-json.git
[submodule "_vim/bundle/airline"]
	path = _vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "_vim/bundle/editorconfig"]
	path = _vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/sparkup"]
	path = _vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "_vim/bundle/cucumber"]
	path = _vim/bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "_vim/bundle/puppet"]
	path = _vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "_vim/bundle/jade"]
	path = _vim/bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
